---
import Nav from "../components/Nav.astro";
import PostsDisplay from "../components/PostsDisplay.astro";
import Layout from "../layouts/Layout.astro";

import { SEO } from "astro-seo";
---

<head>
  <SEO
    description="A blog to talk about anything cool or interesting that comes to my mind (probably mostly tech related!)"
  /></head
>
<Layout title="Varun Sahni - Blog">
  <main
    class="mx-auto max-w-screen-lg scroll-smooth motion-reduce:scroll-auto font-sans py-8 px-4"
  >
    <div class="w-full flex justify-between items-center">
      <h1 class="text-3xl md:text-4xl font-bold">
        <span transition:name="hi-text">Hi 👋</span>
        <br class="block md:hidden" />
        <span class="font-medium">
          I'm <span
            class="text-red-500 dark:text-orange-500 sm:inline-flex sm:flex-row sm:items-end"
            >Varun Sahni<br class="hidden md:block" /><span
              class="hidden sm:inline sm:pl-2 sm:pb-1 text-xl text-neutral-500 font-mono italic"
              >(aka skamr)</span
            ></span
          >
        </span>
        <br />
        <span class="font-light">Welcome to my blog</span>
      </h1>
    </div>
    <Nav />
    <PostsDisplay />
  </main>
</Layout>
