---
interface Props {
  navClass?: string;
}

const { navClass } = Astro.props;
---

<hr />
<nav
  class:list={[
    "flex text-lg items-center gap-4 mt-3 child:underline child:underline-offset-2",
    navClass,
  ]}
>
  <a href="/">Home</a>
  <a href="https://vsahni.me">Portfolio</a>
  <a href="/posts">Posts</a>
</nav>
<hr />
