---
interface Props {
  navClass?: string;
  center?: boolean;
}

const { navClass, center } = Astro.props;
---

<hr />
<nav
  class:list={[
    "flex text-lg items-center gap-4 child:underline child:underline-offset-2",
    navClass,
    center && "justify-center",
  ]}
>
  <a href="/">Home</a>
  <a href="https://vsahni.me">Portfolio</a>
  <a href="/posts">Posts</a>
  <a href="/rss.xml">RSS</a>
</nav>
<hr />
